*{
  font-family: sans-serif;
}

input{
  margin: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  

}
.card {
  margin: 1rem;
  background-color: rgb(179, 126, 230);
  padding: 1rem;
  border-radius: 1rem;
  min-width: 10rem;
  width: fit-content;
  min-height: 10rem;
  height: fit-content;
  border: solid 1px rgb(114, 114, 114);
  display: flex;
  justify-content: center;
  align-items: center;  
}

button{
  border: solid 1px gray;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

button:hover{
  background-color: gray;
  color: white;
}